.img-circle {
  /*border-radius: 50%;*/
  display: block;
  margin: auto;
  margin-top: 124px;
  width: 160px;
  height: 160px;
  border: 7px solid rgba(247, 201, 64, 1);
  border-radius: 50%;
}

h1 {
  width: 600px;
  text-align:left;
  margin: auto;
  margin-top: 40px;
}

p {
  width: 600px;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;

}

ul{
  width: 560px;
  margin: auto;
  /*margin-left: 394px;*/

}

li {
  /*width: 560px;*/
  text-align:left;
  margin: auto;
}

body  {
  font-family: helvetica, sans-serif;
}

/*div.header {
  background-color: green;
}*/
