.img-circle {
  border-radius: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;

}

ul {
  list-style-type: none;
}

h1 {
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}

p {
  width: 50%;
  text-align: center;
  margin: auto;
  margin-top: 20px;
}
li {
  width: 50%;
  text-align: center;
  margin: auto;
}

body  {
  font-family: helvetica, sans-serif;

}
