
  * { box-sizing: border-box; }

  .stop-light {
    width: 180px;
    background-color: rgb(233, 196, 0);
    border-radius: 20px;
    padding: 20px;
    margin: 0 auto;
  }

  .light {
    width: 100px;
    height: 100px;
    margin: 20px auto;
    background-color: rgb(96, 80, 0);
    border-radius: 100%;
    border: 2px solid black;
    border-top-width: 6px;
    border-bottom-width: 1px;
    box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.2);
  }

  .stop-light-stop .light-stop {
    background-color: rgb(209, 43, 5);
  }

  .stop-light-slow .light-slow {
    background-color: rgb(255, 240, 47);
  }
  .stop-light-go .light-go {
    background-color: rgb(9, 204, 40);
  }
