
body {
    background-color: #80d4ea;
}

#clock {
    height: 200px;
    width: 800px;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    padding: 30px;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 100px;
    border: solid black 1px;
    line-height: 200px;
}
